<div ng-controller='pageCtrl as $ctrl'>
  <h2> Cuantas paginas diferentes tendra tu web? </h2>
  <div ng-click='unknown()' onclick="location.href='#/style'" class="box btn">
    No lo se.
  </div>
  <div ng-click='simple()' onclick="location.href='#/style'" class="box btn">
    1-3 paginas
  </div>
  <div ng-click='medium()' onclick="location.href='#/style'" class="box btn">
    3-5 paginas
  </div>
  <div ng-click='full()' onclick="location.href='#/style'" class="box btn">
    5-7+ paginas
  </div>
</div>
