<div ng-controller='pageCtrl as $ctrl'>
  <h2>{{viewer.name}}, cuántas paginas diferentes tendrá tu web? </h2>
    <h3>Esto nos dara informacion sobre como es de largo tu proyecto.</h3>
  <div ng-click='unknown()' class="box btn">
    No lo sé.
  </div>
  <div ng-click='simple()' class="box btn">
    1-3 páginas
  </div>
  <div ng-click='medium()' class="box btn">
    3-5 páginas
  </div>
  <div ng-click='full()' class="box btn">
    5-7+ páginas
  </div>
  <br/>
  <progress-bar atras='description' siguiente='style' completed=5 todo=2></progress-bar>
  <p>* las opciones estan ordenadas por precio de manera ascendente.</p>
</div>
