<div ng-controller='descriptionCtrl as $ctrl'>
  <h2>{{viewer.name}}, describe tu proyecto para nosotros </h2>
  <h3> Cuéntanos para qué es este proyecto, incluyendo cualquier dato
    adicional que consideres necesario para que entendamos la naturaleza de tus
    necesidades y podamos adecuar nuestra solución en relación a ello </h3>
  <div class="field">
    <textarea onfocus="this.value=''" ng-model='viewer.description'/>
  </div>
  <br/>
  <progress-bar atras='type' siguiente='pages' completed=4 todo=3></progress-bar>
</div>
