<div ng-controller='capCtrl as $ctrl'>
  <h2> Su proyecto debera de ser capaz de </h2>
  <div ng-click='static()' class="box btn">
    Una vez que este hecho no necesita modificarse
  </div>
  <div ng-click='dynamicdb()' class="box btn">
    Necesita que se pueda anadir, modificar y borrar contenido textual como comentarios,
    estados, mensajes...
  </div>
  <div ng-click='full()' class="box btn">
    Necesita que se pueda anadir, modificar y borrar contenido textual y ademas contenido multimedia
    como imagenes, documentos y video.
  </div>
  <a href="#/pages" class="button fit">Siguiente</a>
</div>
