<div ng-controller='typeCtrl as $ctrl'>
  <h2> Defina su proyecto </h2>
  <div ng-click='static()' onclick="location.href='#/description'" class="box btn">
    Web para anunciar un producto o empresa
  </div>
  <div ng-click='web()' onclick="location.href='#/description'" class="box btn">
    Aplicacion web
  </div>
  <div ng-click='full()' onclick="location.href='#/description'" class="box btn">
    Aplicacion web + aplicacion movil
  </div>
  <div ng-click='fulldesktop()' onclick="location.href='#/description'" class="box btn">
    Aplicacion web + aplicacion movil + aplicacion de escritorio
  </div>
  <br/>
    <progress-bar atras='email' siguiente='description' completed=3 todo=4></progress-bar>
</div>
