<div ng-controller='emailCtrl as $ctrl'>
  <h2> {{viewer.name}}, escribe tu E-mail. </h2>
  <h3> Ten en cuenta que este será el E-mail usado para contactar contigo. </h3>
  <div class="field">
    <label for="email">E-mail</label>
    <input type='text' ng-change='check()' ng-model='email1'/>
  </div>
  <div class="field">
    <label for="email">Verifica el E-mail</label>
    <input type='text' ng-change='check()' ng-model='email2'/>
  </div>
  <p>{{error}}</p>
  <br/>
  <progress-bar atras='name' siguiente='type' completed=2 todo=6></progress-bar>
</div>
