.btn:hover {
  transition: color 0.3s ease;
  color: #47D3E5 !important;
}

/*
progress-bar .big {
  display: inline-block;
  float: left;
  width: 33.333%;
}

progress-bar::after{
  display: block;
  clear: both;
  content: '';
  margin-bottom: 1em;
}*/

.steps {
  font-size: 1.1em;
  padding: 0.3em;
  font-weight: lighter;
  vertical-align: bottom;
}

.bar {
  padding-top: 0.5em;
}
